
body .custom-qtip {
    border: none;
    border-radius: 0;
    padding: 10px;
    box-shadow: 1px 1px 3px #767676;
    background: #EFFDF6;
    font-size: 12px;
    line-height: 20px;
    color: #258D53;
}

body .ui-widget-overlay {
    background: #000 50% 50% repeat-x;
    opacity: .5;
    filter: Alpha(Opacity=50);
}

body .ui-dialog .ui-dialog-titlebar-close {
    display: none;
}

body .ui-draggable .ui-dialog-titlebar {
    background: #35B66F;
    color: #FFF;
    font-size: 1.5em;
    padding: 14px 10px;
    border: none;
    border-bottom: 4px solid #1A865F;
    margin-bottom: 10px;
}

body .ui-dialog {
    padding: 0;
    z-index: 2000;
    border: none !important;
    box-shadow: 0 0 10px #333;
}

body .ui-dialog .ui-dialog-buttonpane {
    padding: .3em 1em .3em .4em;
    border: none;
}

body .ui-dialog #error-technical {
    max-width: 500px;
}

body .ui-datepicker {
    border: 1px solid #3DD481;
    border-radius: 2px;
    padding: 0;
}

body .ui-datepicker .ui-widget-header {
    border: none;
    background: #3DD481;
}

body .ui-datepicker th {
    background: #3DD481;
    color: #FFF;
}

body .ui-datepicker tbody tr:first-child td {
    margin-top: 5px;
}

body .ui-datepicker td a,
body .ui-datepicker td span {
    border: none !important;
    background: none !important;
    color: #1A865F !important;
    text-align: center !important;
    width: 32px;
    height: 32px;
    line-height: 2;
}

html body .ui-datepicker td a.ui-state-active {
    color: #FFF !important;
    font-weight: bold !important;
    background: #3DD481 !important;
    border-radius: 50px;
    width: 22px;
    height: 22px;
    line-height: 1.3;
    margin: 4px;
}

body .ui-datepicker td a.ui-state-highlight {
    background: #80E3AD !important;
    border-radius: 67px;
    color: #FFF !important;
    width: 22px;
    height: 22px;
    line-height: 1.3;
    margin: 4px;

}

body .ui-datepicker .ui-datepicker-prev-hover {
    top: 2px !important;
    left: 2px !important;
}

body .ui-datepicker .ui-datepicker-next-hover {
    top: 2px !important;
    right: 2px !important;
}

.breaks tr:hover td {
    background: #FFFFC2 !important;
}

.working-plan td {
    vertical-align: middle;
}

.breaks td  {
    vertical-align: middle;
}

li.language:hover {
	cursor: pointer;
	color: #005580;
}

#select-language {
	cursor: pointer;
    display: inline-block;
    padding: 4px 5px;
}

#select-language.active {
    box-shadow: 0 0 20px #1A865F;
}

#language-list {
    list-style: none;
    padding-left: 0px;
}

/* JQUERY UI DATETIME PICKER ADDON
   ------------------------------------------------------------------------- */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; padding: 6px; }
.ui-timepicker-div dl { text-align: left; padding: 0 15px; color: #575757; }
/*.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }*/
/*.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }*/
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

.ui-timepicker-div .ui-datepicker .ui-datepicker-buttonpane { border: none; margin: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { padding: .2em .6em 0.2em .6em; font-size: 12px; }
