.resize_btn {
	/* float:left; */
	height: 32px;
	width: 60px;
	margin-top: -4px;
}

.top-icon-bar{
	/*margin-top:20px;
	margin-right:15px;*/
	border-right: 1px solid rgba(255, 255, 255, 0.1);
    float: right;
}

.msg_area{
	float:letf;
	height:100px;
	width:auto;
	/*overflow-Y: scroll;*/
}
/* custoom li*/