.resize_btn {
	/* float:left; */
	height: 32px;
	width: 60px;
	margin-top: -4px;
}

.top-icon-bar{
	/*margin-top:20px;
	margin-right:15px;*/
	border-right: 1px solid rgba(255, 255, 255, 0.1);
    float: right;
}

.msg_area{
	float:letf;
	height:100px;
	width:auto;
	/*overflow-Y: scroll;*/
}
/* custoom li*/

.sup_status_2{
    padding:5px;
    color:#c9302c;
    /*background:#c9302c;*/
    border-radius: 3px;
    text-align: center;
}

.sup_status_1{
    padding:5px;
    color:#5cb85c;
    /*background:#5cb85c;*/
    border-radius: 3px;
    text-align: center;
}
.sup_status_{
    padding:5px;
    color:#ec971f;
    /*background:#ec971f;*/
    border-radius: 3px;
    text-align: center;
}